{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<form action="{% url 'book-list' %}">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="q" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </div>
</form>
<div class="row">
    {% for book in books  %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if book.image %}
            <img class="card-img-top" src="{{book.image.url}}" alt="Hey Noob, look at me...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{book.name}}</h5>
            <p class="card-text">
              <div class="float-left">
                {{ book.about|truncatechars:25}}
              </div>
            </p>
            <p class="card-text">
              <div class="float-left">
                {{ book.author_name}}
              </div>
            </p>
            <p class="card-text">
              <div class="float-left">
                {{ book.condition}}
              </div>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="{% url 'book-detail' book.id %}" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}

